/* CSS for top.gg */

/* Bot name */
.bot-name {
	color: gold;
}
.btn-like {
	background: white;
}

/* Library */
.lib a {
	color: lightblue!important;
}

/* Bot Description */
.bot-description {
	color: white;
}

/* General buttons */
.btn-orange {
	background: darkorange;
}

/* Prefix */
.text-secondary {
    color: white;
}

/* External buttons */
.botpagebutton {
	color: darkgoldenrod;
}

/* Bot Tags */
.bot-tags-title {
    color: white;
}
.atag {
	color: darkgoldenrod;
}

/* Created by */
#createdby {
	color: white;
}
.owners a {
	color: darkred;
}

/* GitHub README */
.longdescription .content {
	background-color: #000000ba;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content p, .content td {
	color: white;
}
.content *:not(.no-styles) td, .content *:not(.no-styles) th {
	color: white
}

/* Background */
body {
	background-image: url("https://raw.githubusercontent.com/Tony120914/Beldum-Bot/master/images/discord_bot_list_background.png");
	background-attachment: fixed;
}
